body{
    font-family: arial;
}
.about-us{
    height:110%;
    width: 100%;
}

.au-firstRow .card{
    width:40%;
    height:auto;
    display: inline-block;
    margin:0 5%;
    margin: 0% 5% 0% 5%;
    position: relative;
    top:80px;
    
}

.au-secondRow .card{
    width:40%;
    display: inline-block;
    margin:0 5%;
    margin: 26% 5% 0% 5%;
}


.card .card-image{
    width:100%;
}

.card .card-content{
    padding: 0 24px !important;
} 

/* .kris{
    font-size: 12px !important;
} */

.about-usHeader{
    font-size: 40px;
    text-align: center;
    position: relative;
    top:3%;
}

.brand-logo-about{
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    font-size: 40px;
    width: 100vw;
    text-align: center;
    z-index:100; 
}

.backButton{
    z-index: 101;
    position: absolute;
    top:0;
    left:0;
    margin-top:.75%;
}

.about-us-container{
    margin-top: 7%;
    left: -50%;
}

.about-us-container p{
    text-align: center;
    font-weight: bold;
}

.title{
    text-align: center;
    font-size: 2.1rem;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.information-container{
    margin: 5%;
}


@media screen and (min-width: 576px){

    .card-title{
        font-size: 24px !important;
    }
    /* .kris{
        font-size: 16px !important;
    } */

}

@media screen and (min-width: 993px){
    .au-firstRow .card, .au-secondRow .card{
        width:40%;
        display: inline-block;
        position: relative;
        top:0px;
    }

    .au-secondRow .card {
         margin-top:0%;
    }

    .au-firstRow,.au-secondRow{
        width:50%;
        position: absolute;
        top: 25%;
    }

    .au-secondRow{
        left: 50%;   
    }

    .about-us{
        height:100vh;
        width: 100%;
    }


}

@media screen and (max-width: 992px){
    .about-us-container{
        left: 0%;
    }
}