
.temp-img {
	max-width: 100%;
    height: auto;
}

.indent-1{
	position: relative;
	left: 5% !important;
}

.indent-2{
	position: relative;
	left: 10% !important;
}

.devContainer {
	display: inline-block;
	width: 100%;
}

.teamPhoto img {
	width:40%;
	height: auto;
}
.au-leftColumn{
	width: 70%;
	height: auto;
	display: inline-block;
}

.au-rightColumn {
	width: 25%;
	display: inline-block;
	vertical-align: top;
}