
.modalStyle {
    height: 100%;
    width: 95%;
}
.modal-footer{
    position: absolute;
    bottom:0;
    height:0px !important;
}
.modalPosition{
    margin:2% 2%;
}
.modal-close{
    width:30px;
    display:block;
    height:30px;
    color:transparent;
    text-decoration:none;
    padding-left:20px;
}
.modal-close:before{
    content: '';
    background:url('../assets/images/x-icon.png');
    background-size: cover;
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
}

.bm-leftColumn{
    width: 100%;
    height: 100%;
    display: block;
    margin: 3.5%;
}

.bm-rightColumn{
    width: 100%;
    height:100%;
    display: block;
    padding: 1% 0% 0% 3%;
}

.bm-jobDescription *{
    color: inherit !important;
    font-weight: normal;
}

.bm-columnContainer{
    display: inline-block;
    width: 100%;
    height:100%;
    margin:auto;
}

.bm-map{
    left:1.1px;
    margin: 0 2%;
    height:40vh;
    width:99%;
}

.bm-companyName, .bm-jobTitle {
    position: relative;
    top:5%;
    font-size: 1.75rem;
    text-align: center;
}

.bm-companyName{
    position: relative;
    margin: 5% 0% 0%;
}

.logoBox{
    position: relative;
    width:40%;
    height:auto;
    left:50%;
    transform: translate(-50%);
}

.bm-companyName img {
    position: relative;
    width: 75%;
    height:auto;
}

.bm-jobTitle{
    margin:0% 0% 5%;
    font-size: 1.5rem;
}

.modalBody{
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
    z-index:4;
    height:210vh;
}

.bm-buttonRow > *{
    position: relative;
    left:50%;
    transform: translateX(-150%);
    margin:0% 5%;
}

.bm-buttonRow{
    position: relative;
    left:7.5%;
}

.bm-jobDescription{
    overflow: auto;
    width: 100%;
    height: 38vh;
    margin: 0 2%;
    overflow-x: hidden; 
}

.bm-jobDetails{
    top:35vh;
    padding:2%;
    padding:0 2%;
}

.bm-tabs li{
  z-index: 2;
}

.modalStyle{
    max-height: 85%;
    top:0;
}

.sp-btn-style{
    position: relative;
    margin: 3% 0;
    left: 10% !important;
}

.hide {
    display: none;
}

.modalStyle .modal-content{
    height:0px !important;
}

.modal-footer{
    background-color: inherit !important;
}

.fullText{
    height: 64vh !important;
}
.modal-footer{
    position: absolute;
    top:0;
    z-index:0;
}
.modal-footer{
    position: absolute;
    right:0;
    z-index: 10000;
}

@media only screen and (min-width: 576px){
    .bm-leftColumn{
        margin: 0% 2.5%;
        width: 95%;
        height: 100%;
        display: inline-block;
        vertical-align:top;
        left:1.5%;
    }

    .bm-rightColumn{
        width: 100%;
        height:100%;
        display: block;
        padding: 1% 0% 0% 2%;
    }
    

    .bm-jobDetails{
        top:0;
        height:41vh;
    }

    .bm-buttonRow{
        position: relative;
        left:.5%;
    }
    .bm-map{
        margin:0 1%;
        
    }
    .modalBody{
        height:171vh;
    }
   
}


@media only screen and (min-width: 993px){
    .modalBody {
        width: 100%; 
        height:83.3vh;
    } 
    .bm-leftColumn{
        width: 40%;
        height: 100%;
        display: inline-block;
        vertical-align:top;
        margin: 1% 3.5% 3.5% 3.5%;
        left:0%;
    }

    .bm-rightColumn{
        width: 53%;
        height:100%;
        display: inline-block;
        padding: 1% 0% 0% 3%;
    }
    .bm-map{
        height:35vmin;
        width: 100%;
    }
    .bm-buttonRow{
        position: relative;
    } 
}

@media screen and (min-width: 1200px){
    .bm-leftColumn{
        width: 40%;
        height: 100%;
        display: inline-block;
        vertical-align:top;
        padding: 2px;
        margin-top: -1%;
    }

    .bm-rightColumn{
        width: 48%;
        height:100%;
        display: inline-block;
        padding: 1% 0% 0% 3%;
    }
    .modalStyle{
        width:75%;
        overflow: hidden;
    }
    .bm-buttonRow{
        left:2.5%;
    }
    .row {
        margin-bottom: 15px !important;
    }
}