.modalStyle {
    height: 100%;
    width: 95%;
}
.modal-footer{
    position: absolute;
    bottom:0;
    height:0px !important;
}
.modalPosition{
    margin:2% 2%;
}

.bm-leftColumn{
    width: 100%;
    height: 100%;
    display: block;
    margin: 3.5% !important;
}

.bm-rightColumn{
    width: 100%;
    height:100%;
    display: block;
    padding: 1% 0% 0% 3%;
}

.bm-jobDescription *{
    color: inherit !important;
    font-weight: normal;
}

.bm-columnContainer{
    display: inline-block;
    width: 100%;
    height:100%;
    margin:auto;
}

.bm-map{
    height:35vmin;
    width: 100%;
}
.bm-companyName, .bm-jobTitle {
    position: relative;
    top:5%;
    font-size: 2rem;
    text-align: center;
}

.bm-companyName{
    position: relative;
    margin: 5% 0% 0%;
}

.bm-companyName img {
    position: relative;
    width: 35%;
    height:auto;
}

.bm-jobTitle{
    margin:0% 0% 5%;
    font-size: 1.75rem;
}

.modalBody{
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
    z-index:4;
}

.bm-buttonRow > *{
    position: relative;
    left:50%;
    transform: translateX(-150%);
    margin:0% 5%;
}

.bm-buttonRow{
    position: relative;
    left:8.5%;
}

.bm-jobDescription{
    overflow: scroll;
    width:100%;
    height: 47vh;   
}

.bm-jobDetails{
    top:22vh;
    padding:2%;
}

.bm-tabs li{
  z-index: 2;
}

.modalStyle{
    max-height: 85%;
    top:0;
}

.sp-btn-style{
    position: relative;
    margin: 3% 0;
    left: 10% !important;
}

.hide {
    display: none;
}

.modalStyle .modal-content{
    height:0px !important;
}

.modal-footer{
    background-color: inherit !important;
}

.fullText{
    height: 64vh !important;
}
.modal-footer{
    position: absolute;
    top:0;
    z-index:0;
}
.modal-footer{
    position: absolute;
    right:0;
    z-index: 10000;
}

@media only screen and (min-width: 576px){
    .bm-leftColumn{
        margin: 0% 2.5%;
        width: 95%;
        height: 100%;
        display: inline-block;
        vertical-align:top;
    }

    .bm-jobDetails{
        top:0;
    }

    .bm-buttonRow{
        position: relative;
        left:3.5%;
    }
}


@media only screen and (min-width: 993px){
    .container {
        width: 100%; 
    } 
    .bm-leftColumn{
        width: 40%;
        height: 100%;
        display: inline-block;
        vertical-align:top;
    }

    .bm-rightColumn{
        width: 53%;
        height:100%;
        display: inline-block;
        padding: 1% 0% 0% 3%;
    }
}

@media screen and (min-width: 1200px){
    .bm-leftColumn{
        width: 40%;
        height: 100%;
        display: inline-block;
        vertical-align:top;
    }

    .bm-rightColumn{
        width: 48%;
        height:100%;
        display: inline-block;
        padding: 3.5% 0% 0% 3%;
    }
    .modalStyle{
        width:75%;
    }
}