*{
    font-family: courier new !important;
    position: relative;
    margin: 0;
}    
.body-container  {
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.input-container {
    position: relative;
    top: 20%;
}
.caret{
  z-index: 998 !important;
  right: 9px !important;
}
.blue-txt { 
    top: 0;
}
.left-numbers{
    position: absolute;
    top: -0%;    
}
.lp-title{
    font-size: 3em;
}
.lp-drop-content {
    top: -17px;
}
.lp-theme-cont{
    position: absolute;
    left: 3.5%;
    background-color: inherit !important;
    color: inherit !important;
}
.lp-button-syntax{
    margin-left: 3%;
}
.lp-clickable {
    cursor: pointer;
}
.lpModal{
    height:50%;
}

.modal-content{
    height: 30vh !important;
}

#lp-ModalTrigger:hover {
    cursor: pointer;
}
.lp-title-city-input *, .selected *{
    background-color: inherit !important;
    color: inherit !important;
}