*{
    font-family: courier new !important;
    position: relative;
    margin: 0;
}    
.body-container  {
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.input-container {
    position: relative;
    top: 20%;
}

.lp-form {
    z-index: 101;
}
.caret{
  z-index: 10001 !important;
  right: 9px !important;
}
.blue-txt { 
    top: 0;
}
.left-numbers{
    position: absolute;
    top: -0%; 
}
.lp-title{
    position: relative;
    font-size: 2.75em;
    left:6%;
}
.lp-drop-content {
    top: -17px;
}
.lp-theme-cont{
    position: absolute;
    left: 6.5%;
    background-color: inherit !important;
    color: inherit !important;
    z-index: 10000;
}
.lp-button-syntax{
    margin-left: 6.5%;
}
.lp-clickable {
    cursor: pointer;
}

.modal-content{
    height: 30vh !important;
}

#lpModal{
    height:50%;
}
#lp-ModalTrigger:hover {
    cursor: pointer;
}
.lp-title-city-input *, .selected *{
    background-color: inherit !important;
    color: inherit !important;
}
.lp-title-city-input{
    max-width: 320px;
    margin-left: 3% !important;
}

@media screen and (min-width: 576px){
    .lp-theme-cont{
        position: absolute;
        left: 3.5%;
        background-color: inherit !important;
        color: inherit !important;
    }

    .lp-title{
        font-size: 3em;
        left:0%;
    }

    .lp-button-syntax{
        margin-left: 1.5%;
    }
    .lp-title-city-input{
        max-width: 94%;
    }
}
