.load-cont{
  height: 87vh;
}
.lds-spinner{
  position: relative;
  display: flex;
  justify-content: center;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
  background-color: inherit;

}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff; 
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(1):after {
  animation: rainbow 1.2s linear infinite;
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(2):after{
  animation: rainbow 1.2s linear infinite;
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(3):after{
  animation: rainbow 1.2s linear infinite;
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(4):after{
  animation: rainbow 1.2s linear infinite;
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(5):after{
  animation: rainbow 1.2s linear infinite;
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(6):after{
  animation: rainbow 1.2s linear infinite;
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(7):after{
  animation: rainbow 1.2s linear infinite;
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(8):after{
  animation: rainbow 1.2s linear infinite;
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(9):after{
  animation: rainbow 1.2s linear infinite;
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(10):after{
  animation: rainbow 1.2s linear infinite;
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(11):after{
  animation: rainbow 1.2s linear infinite;
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
.lds-spinner div:nth-child(12):after{
  animation: rainbow 1.2s linear infinite;
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rainbow{
    0% {background-color: #FC0006;}
    10% {background-color: #FC0063;}
    20% {background-color: #F400FF;}
    30% {background-color: #AC00FF;}
    40% {background-color: #1600FF;}
    50% {background-color: #0F7FFF;}
    60% {background-color: #21FFFC;}
    70% {background-color: #27FF06;}
    80% {background-color: #CCFF09;}
    90% {background-color: #FD8D08;}
    100% {background-color: #FC5407;}
}
