.sp-Style {
    height: 100%;
    width: 80%;
    max-height: 85%;
    top:0;
}
.sp-footer{
    position: absolute;
    bottom:0;
}
.sp-map{
    height:55vmin;
    width: 100%;
}
.sp-buttonRow{
    position: relative;  
}

.sp-buttonRow > a {
    margin-left: 5%;
}
.sp-companyName, .sp-jobTitle {
    position: relative;
    top:5%;
    font-size: 2rem;
}

.sp-companyName{
    display: inline-block;
    position: relative;
    left:50%;
    margin: 5% 0% 0%;
    transform: translateX(-50%);
}

.sp-companyName img {
    width: 40%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.sp-companyName > p {
    text-align: center;
}
.sp-jobTitle{
    margin:0% 0% 5%;
    font-size: 1.75rem;
    width: 85%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.sp-jobDescription *{
    color: inherit !important;
    font-weight: normal;
}

.sp-Body{
    position: relative;
    height: 100%;
    width: 92%;
    margin: 0% 4%;
    z-index:4;
}

.sp-leftColumn{
    width: 100%;
    height: 100%;
    display:inline-block;
    vertical-align: top;
}
.sp-rightColumn{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.sp-jobDescription{
    overflow: scroll;
    width:100%;
    height:60vh;
}
.sp-jobDetails{
    padding:2%;
    margin-top:62%;
}

.sp-tabs li{
  z-index: 2;
}

.sp-btn-style{
    position: relative;
    margin: 3% 0;
    left: 10% !important;
}

.sp-buttonRow > *{
    position: relative;
    left:40%;
    transform: translateX(-100%);
    margin:0% 5%;
}

.sp-fullText{
    height: 78vh !important;
}

.sp-load-cont{
    height: 100vh;
}
.sp-load-position{
    display: flex;
    justify-content: center;
}

.googleContainer{
    left:0;
    width: 100%;
}

@media only screen and (min-width: 576px){
    .sp-leftColumn{
        margin: 0% 2.5%;
        width: 95%;
        height: 100%;
        display: inline-block;
        vertical-align:top;
    }

    .sp-rightColumn{
        width:95%;
        height: 100%;
        margin: 2% 2.5%;
        display: inline-block;
    }

    .sp-jobDetails{
        top:0;
        margin-top:0%;
    }

    .sp-buttonRow{
        position: relative;
        left:0;
    }
    .googleContainer{
        left:0;
        width: 100%;
    }
}

.tabsContainer{
    width:110%; 
    right:4%;

}

@media only screen and (min-width: 993px){
    
    .sp-leftColumn{
        width: 46%;
        height: 100%;
        display: inline-block;
        vertical-align:top;
    }

    .sp-rightColumn{
        width: 44%;
        height:100%;
        display: inline-block;
        vertical-align: top;
    }
}

@media screen and (min-width: 1200px){
    .sp-leftColumn{
        width: 40%;
        height: 100%;
        display: inline-block;
        vertical-align:top;
    }

    .sp-rightColumn{
        width: 48%;
        height:100%;
        display: inline-block;
    }
    .modalStyle{
        width:75%;
    }

    .sp-buttonRow{
        position: relative;
    }
}