.theme-dropdown * , .selected *{
    background-color: inherit !important;
    color: inherit !important;
}

.dropdown-content.select-dropdown.active {
	background-color: inherit !important;
    color: inherit !important;
}
.theme-dropdown {
	height: 5vh;
}
.theme-dropdown .select-dropdown {
    text-align: left;
}

.nav-bar-items{
    left:5%;
}

@media screen and (min-width: 576px){
  .nav-bar-items{
      left:0%;
    }
  .theme-dropdown .select-dropdown {
    text-align: center;
    }
}
